<section class=" error w-full h-[100vh] bg-slate-800">
<div class=" flex items-center justify-center gap-5 py-24 text-white">

    <h1 class="text-7xl mr-4  ">OOPs</h1>
    <ion-icon class=" text-7xl  " name="sad"></ion-icon>
</div>
<p class=" text-3xl text-red-800 px-3  text-center">only recruiter is allowed to access this page, login as recruiter to continue</p>
</section>